<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Page - {{ title }}</title>
    {{ bootstrap.load_css() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<main>
    <div class="px-4 py-3 my-2 text-center">
        <h1 class="display-6 fw-bold">{{ title }}</h1>
        <pre class="fs-5">{{ data | tojson(indent=2) }}</pre>  <!-- Display the JSON data in a formatted way -->
        <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg px-4 gap-3">Back home</a>
    </div>
</main>

{{ bootstrap.load_js() }}
</body>
</html>
